 <!-- 1. الشريط العلوي Top Bar -->
        <div class="top-bar text-white py-2 small w-100" style="background-color: #15427d;">
            <div class="container-fluid container-lg d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center gap-3 ms-auto">
                    <span class="text-white-50"><i class="fa-regular fa-sun"></i> متجر كنان  </span>
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle text-white border-0 py-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            عربي (YE)
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                            <li><a class="dropdown-item active" href="#">العربية (YE)</a></li>
                            <li><a class="dropdown-item" href="#">English</a></li>
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn btn-sm dropdown-toggle text-white border-0 py-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            $ USD
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end shadow-sm">
                            <li><a class="dropdown-item active" href="#">USD ($)</a></li>
                            <li><a class="dropdown-item" href="#">YER (ر.ي)</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
